.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header {
  display: flex;
  width: 80%;
  max-width: 1531px;
  height: 50px;
  justify-content: space-between;
  font-family: Roboto, Arial;
  font-weight: 500;
}

.cart-container {
  position: relative;
  width: 100px;
  height: 100%;
}

.cart {
  display: flex;
  width: 100%;
  height: 100%;
}

.cart-container .fa-cart-shopping {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  height: 100%;
}

.cart-items-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 6px;
  left: 10px;
  color: white;
}

.cart-name {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.fa-cart-shopping {
  color: #3985e0;
}

.cart-container:hover {
  background: linear-gradient(to right, #4a60c1 10%, #3985e0);
  border-radius: 20px;
  transition: 1s;
}

.cart-container:hover .fa-cart-shopping  {
  color: white;
  transition: 2s;
}

.cart-container:hover .cart-name {
  color: white;
  transition: 2s;
}

.cart-container:hover  .cart-items-counter {
  color: black;
  transition: 2s;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  color: white;
  font-size: 40px;
  width: 300px;
  min-width: 300px;
  height: 50px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  gap: 2%;
  background: linear-gradient(to right, #4a60c1 10%, #3985e0);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  }

.fa-stroopwafel {
  color: white;
}

.account-container {
  position: relative;
  width: 140px;
  height: 100%;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  gap: 6px;
}

.account-name {
  width: 70%;
  display: flex;
  justify-content: right;
  font-weight: 500;
  font-size: 16px;
}

.account .fa-user {
  display: flex;
  justify-content: left;
  width: 30%;
  color: #3985e0;
}

.account-container:hover {
  background: linear-gradient(to right, #4a60c1 10%, #3985e0);
  border-radius: 20px;
  transition: 1s;
}

.account-container:hover .fa-user {
  color: white;
  transition: 2s;
}

.account-container:hover .account-name {
  color: white;
  transition: 2s;
}






